$primary: #3bc9db;
$primary-dark: #0b7285;
$neutral-xlight: #f1f3f5;
$neutral-light: #ced4da;
$neutral-medium: #868e96;
$neutral-dark: #495057;

$white: #fff;
$black: $neutral-dark;

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.page-frame {
  display: flex;
  flex-wrap: nowrap;
}

.navbar {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;

  &__icon {
    width: 100%;
    padding: 12px 20px;
    margin: 0;

    &:first-child {
      padding: 16px;
      flex: 1;
    }

    &:last-child {
      padding: 20px;
    }

    & button {
      padding: 0;
      margin: 0;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    & img {
      width: 100%;
      height: auto;
    }
  }
}

.game-menu {
  width: 250px;
  background-color: $neutral-xlight;
}

.container {
  max-width: 900px;
  width: 90vw;
  margin: 0 auto;
}

.deck {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.card__container {
  padding: 0;
  cursor: pointer;
  height: calc((((900px / 4) - 6px) / 3) * 4);
  perspective: 600;
  position: relative;
  margin: 0 10px 20px;
  width: calc(25% - 20px);
}

.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  width: 100%;

  &--flipping {
    transform: rotateY(180deg);
  }

  &--flipped {
    transform: rotateY(180deg);
    transition: none;
  }

  &__side {
    backface-visibility: hidden;
    border-radius: 4px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    width: 100%;

    &--back {
      object-fit: cover;
    }

    &--front {
      font-family: 'Fira Sans', sans-serif;
      font-size: 40px;
      border: 3px solid #294e85;
      font-weight: bold;
      color: #294e85;
      line-height: 150px;
      text-align: center;
      transform: rotateY(180deg);
    }
  }

  &__word {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    line-height: 1;
    margin: 0;
  }
}

.congrats {
  position: fixed;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 50vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 4rem;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  font-size: 80px;
  color: #294e85;
}
